name: Tests
on:
  workflow_dispatch: {}
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v4
    - uses: actions/checkout@v4
    - run: npm ci
    - run: npx eslint .
  prettier:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v4
    - uses: actions/checkout@v4
    - run: npm ci
    - run: npx prettier --check .
  test:
    name: Node.js ${{ matrix.node }} | ${{ matrix.os }} | ${{ matrix.arch }}
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        node:
        - 22.15.1
        - 20.15.1
        - 18.15.0
        arch:
        - x64
        experimental:
        - false
        include:
        - os: ubuntu-latest
          node: node
          arch: x64
          experimental: true
        - os: macos-latest
          node: node
          arch: x64
          experimental: true
        - os: windows-latest
          node: node
          arch: x64
          experimental: true
        - os: ubuntu-latest
          node: lts/*
          arch: x64
          experimental: true
        - os: macos-latest
          node: lts/*
          arch: x64
          experimental: true
        - os: windows-latest
          node: lts/*
          arch: x64
          experimental: true
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setting up Node.js ${{ matrix.node }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}
    - name: Cloning repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 5
    - name: Installing Dependencies
      run: npm ci
    - name: Test
      continue-on-error: ${{ matrix.experimental }}
      run: npm test
    - name: Uploading code coverage report
      if: false
      uses: paambaati/codeclimate-action@v9
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
    - name: Uploading code coverage artifact
      if: "(\n  success() &&\n  matrix.os == 'ubuntu-latest' &&\n  matrix.node ==\
        \ '18.15.0' &&\n  github.event_name == 'pull_request' &&\n  github.repository_owner\
        \ == 'vscode-icons' &&\n  github.actor != 'dependabot[bot]'\n)\n"
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: coverage/lcov.info
        retention-days: 1
